<% if @word.class == String %>
  <h2><%= @word %>.<h2>
<% else %>
  <div class="row">
    <div class="col-sm-6">
      <h2><%= @word.term %></h2>
      <ol>
        <% @word.definitions.each do |definition| %>
          <li><em><%= definition %></em></li>
        <% end %>
      </ol>
    </div>

    <div class="col-sm-6">
      <h4>Add a Definition:</h4>
      <form action="/word/<%= @word.term.downcase %>" method="post">
        <div class="form-group">
          <input id="definition" type="text" name="definition" class="form-control">
        </div>
        <button type="submit" class="btn">Add!</button>
        <% if @blank %>
          <span class="error">Please Enter a Definition</span>
        <%end%>
      </form>
    </div>
  </div>
<% end %>
<h4><a href="/">Back to Word List</a></h4>
