body {
  font-family: 'Arvo', serif;
}

h1, h2, h3, h4 {
  font-family: 'Ultra', serif;
}

.jumbotron {
  padding: 25px 0px;
}

.container.contents {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn.word-submit {
  margin-right: 1em;
}

.error {
  color: #ad1313;
}

a.clear-all {
  color: #d9534f;
}

a.clear-all:hover {
  color: #87120e;
}

.clear-warning a {
  display: inline-block;
  margin: 15px;
}

.clear-warning form {
  display: inline-block;
  margin: 15px;
}

h4.definition {
  margin-top: 30px;
}

h4.back {
  margin-top: 25px;
}

.words-title {
  display: inline-block;
  width: 45%;
}

.search-container {
  display: inline-block;
  width: 50%;
  min-width: 170px;
  text-align: right;
}

#search-box {
  display: inline-block;
  width: 80%;
  min-width: 170px;
}

#search-box input {
  width: 70%;
  min-width: 120px;
  display: inline-block;
}

#search-box .btn {
  height: 34px;
  vertical-align: top;
  margin: none;
}
